{% extends './common/base.html' %}

{% load static %}

{% block content %}


    <header class="masthead" style="background-image:url('/static/img/index.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="post-heading">
                        <h1>“Hope is like the sun, which, as we journey toward it, casts the shadow of our burden behind us.” </h1>
                        <h2 class="subheading">— Samuel Smiles</h2><span class="meta">&nbsp;<a href="#"></a>&nbsp; 2022</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <body style="background-color:rgb(208, 236, 251);"></body>
                    <!-- <p>Never in all their history have men been able truly to conceive of the world as one: a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet, in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals. The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.</p>
                    <p>Science cuts two ways, of course; its products can be used for both good and evil. But there's no turning back from science. The early warnings about technological dangers also come from science.</p>
                    <p>What was most significant about the lunar voyage was not that man set foot on the Moon but that they set eye on the earth.</p>
                    <p>A Chinese tale tells of some men sent to harm a young girl who, upon seeing her beauty, become her protectors rather than her violators. That's how I felt seeing the Earth for the first time. I could not help but love and cherish her.</p>
                    <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p> -->
                    <h2 class="section-heading">What is Cancer? </h2>
                    <p>Cancer is a disease in which some of the body’s cells grow uncontrollably and spread to other parts of the body. Cancer can start almost anywhere in the human body, which is made up of trillions of cells. Normally, human cells grow and multiply (through a process called cell division) to form new cells as the body needs them. When cells grow old or become damaged, they die, and new cells take their place.</p>
                    <p>Sometimes this orderly process breaks down, and abnormal or damaged cells grow and multiply when they shouldn’t. These cells may form tumors, which are lumps of tissue. Tumors can be cancerous or not cancerous (benign). </p>
                    <p>Cancerous tumors spread into, or invade, nearby tissues and can travel to distant places in the body to form new tumors (a process called metastasis). Cancerous tumors may also be called malignant tumors. Many cancers form solid tumors, but cancers of the blood, such as leukemias, generally do not.</p>
                    <p>Benign tumors do not spread into, or invade, nearby tissues. When removed, benign tumors usually don’t grow back, whereas cancerous tumors sometimes do. Benign tumors can sometimes be quite large, however. Some can cause serious symptoms or be life threatening, such as benign tumors in the brain.</p>
                    <!-- <figure>
                        <blockquote class="blockquote">
                            <p class="mb-0">The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</p>
                        </blockquote>
                    </figure>
                    
                    <p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p> -->
                    <h2 class="section-heading">Symptoms </h2>
                    <p>Fatigue,
                        Lump or area of thickening that can be felt under the skin,
                        Weight changes, including unintended loss or gain,
                        Skin changes, such as yellowing, darkening or redness of the skin, sores that won't heal, or changes to existing moles
                        Changes in bowel or bladder habits,
                        Persistent cough or trouble breathing,
                        Difficulty swallowing,
                        Hoarseness,
                        Persistent indigestion or discomfort after eating,
                        Persistent, unexplained muscle or joint pain,
                        Persistent, unexplained fevers or night sweats,
                        Unexplained bleeding or bruising. </p>
                    <h2 class="section-heading">How does Cancer grow and spread? </h2>
                    <!-- <p>Cancers are named for the area in which they begin and the type of cell they are made of, even if they spread to other parts of the body. For example, a cancer that begins in the lungs and spreads to the liver is still called lung cancer.</p> 
                    <p>appendix cancer</p>
                        bladder cancer
                        bone cancer
                        brain cancer
                        breast cancer
                        cervical cancer
                        colon or colorectal cancer
                        duodenal cancer -->
                        <!-- ear cancer
                        endometrial cancer
                        esophageal cancer
                        heart cancer
                        gallbladder cancer
                        kidney or renal cancer
                        laryngeal cancer
                        leukemia
                        lip cancer
                        liver cancer
                        lung cancer
                        lymphoma
                        mesothelioma
                        myeloma
                        oral cancers
                        ovarian cancer
                        pancreatic cancer
                        penile cancer
                        prostate cancer
                        rectal cancer
                        skin cancer
                        small intestine cancer
                        spleen cancer
                        stomach or gastric cancer
                        testicular cancer
                        thyroid cancer
                        uterine cancer
                        vaginal cancer
                        vulvar cancer</p> -->
                    <p> Normal cells in your body grow and divide. Each one has a life cycle determined by the type of cell. As cells become damaged or die off, new cells take their place. Cancer disrupts this process and causes cells to grow abnormally. It’s caused by changes or mutations in the cell’s DNA. The DNA in each cell has instructions that tell the cell what to do and how to grow and divide. Mutations occur frequently in DNA, but usually cells correct these mistakes.</p>
                    <p>When a mistake is not corrected, a cell can become cancerous. Mutations can cause cells that should be replaced to survive instead of die, and new cells to form when they’re not needed. These extra cells can divide uncontrollably, causing tumors to form.</p>
                    <!-- <a href="#"><img class="img-fluid" src="assets/img/post-sample-image.jpg"></a><span class="text-muted caption">To go places and do things that have never been done before – that’s what living is all about.</span>
                    <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>
                    <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>
                    <p><span>Placeholder text by&nbsp;</span><a href="http://spaceipsum.com">Space Ipsum</a><span>&nbsp;Photographs by&nbsp;</span><a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
                </div> -->

                <h2 class="section-heading">Treatment</h2>
                <p>Localized treatment - Localized treatment usually involves using treatments like surgery or local radiation therapy at a specific area of the body or tumor.</p>
                <p>Systemic treatment - Systemic drug treatments, such as chemotherapy, targeted therapy, and immunotherapy, can affect the entire body.</p>
                <p>Palliative treatment - Palliative care involves relieving health symptoms associated with cancer, such as trouble breathing and pain.</p>
            </div>
        </div>
    </article>


{% endblock %}