{% extends './common/base.html' %}
{% load static %}

{% block content %}

<section class="py-5 mt-5">
    <div class="container py-5">
        <h3>Password reset sent</h3>


        <p>If an account exists with this email id, a password reset link will be emailed to you.</p>

        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check
            your spam folder.</p>
    </div>
    <div class="col-md-10 col-lg-8 mx-auto position-relative">
    <a href="{% url 'home' %}" ><button class="btn btn-primary float-end" type="button">Go Back&nbsp;⇒</button></a>
</div>
</section>

{% endblock %}